.dates_recipe_cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.container_datos_receta{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}