#carritoNoVisible{
    height: 0px;
}
.icono_carrito{
    cursor: pointer;
}
.container_nav_tienda{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.contanier_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container_carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container_carrito_receta{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container_carrito_receta_doc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
.container_item_buttoms{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.container_receta_datos_cerca, .container_receta_datos_cerca div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem
}
.container_carrito_cliente{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.container_total{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.container_total div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}
.container_carrito_tabla{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bt_carrito{
    margin: 5px;
}

