.card_product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0px;
    width: 320px;
    border-radius: 15px;
    margin: 20px;
}